
:root {
  --fontType: "Lato";
  --circleDiameter: 400px;
  --pieDistance: 10px;
  --borderLength: 15px;
  --hexValue: #315399;
  --textColor: white;
  --PI: 3.14;
  --itemsLoaded: 0;
  --generatedValues: 0;
  --currentItem: 0;
  --spinsDone: 5;
  --spinTime: 4s;
  --restartTime: 1.25s;
}

.wheel-container {
  display: block;
  position: relative;
  box-sizing: content-box;
  width: calc(var(--circleDiameter) + 2 * var(--borderLength));
  height: calc(var(--circleDiameter) + 2 * var(--borderLength));
  padding: 3px;
  margin: auto;
  background-color: var(--textColor);
  border: solid var(--hexValue) 3px;
  border-radius: 50%;
  user-select: none;
}

.wheel-container::before,
.wheel-container::after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border: solid transparent 20px;
  border-left-width: 0;
}

.wheel-container::before {
  right: 0px;
  border-right-color: var(--hexValue);
}

.wheel-container::after {
  right: -5px;
  border-right-color: var(--textColor);
}

.wheel {
  display: block;
  position: relative;
  box-sizing: content-box;
  margin: auto;
  width: var(--circleDiameter);
  height: var(--circleDiameter);
  overflow: hidden;
  border-radius: 50%;
  border: solid var(--hexValue) var(--borderLength);
  background-color: var(--hexValue);
  transition: transform var(--restartTime);
  transform: rotate(0deg);
  cursor: pointer;
}

.wheel.spinning {
  transition: transform var(--spinTime);
  transform: rotate(
    calc(
      var(--spinsDone) * 360deg +
        (-360deg * var(--currentItem) / var(--itemsLoaded, 1))
    )
  );
}

.wheel::after {
  display: block;
  position: absolute;
  content: "";
  background-color: var(--textColor);
  width: 25px;
  height: 25px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.wheel-item {
  top: 50%;
  left: 50%;
  width: 50%;
  transform-origin: center left;
  transform: translateY(-50%)
    rotate(calc(var(--generatedValues) * (360deg / var(--itemsLoaded, 1))));
  display: block;
  position: absolute;
  box-sizing: border-box;

  color: var(--textColor);
  text-align: right;
  padding: 0 25px 0 50px;
  font-family: var(--fontType);
}

.wheel-item:before {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0px;
  opacity: 0.25;
  content: " ";
  display: block;
  position: absolute;
  box-sizing: border-box;
  z-index: -1;


  --maxLength: calc(
    var(--PI) * var(--circleDiameter) + var(--circleDiameter) / 2
  );
  --slice-width: calc(
    (var(--maxLength) / var(--itemsLoaded)) - var(--pieDistance)
  );
  border: solid transparent calc(var(--slice-width) / 2);
  border-left: solid transparent 0;
  border-right: solid var(--textColor) calc(var(--circleDiameter) / 2);
}
